<h1>Tunes Admin</h1>

<%= link "New tune", to: admin_tune_path(@conn, :new) %>

<%= if @tunes |> Enum.empty? do %>
 <p>There are currently no tunes, pal!</p>
<% else %>
  <ul>
    <%= for tune <- @tunes do %>
      <li><%= tune.name %></li>
    <% end %>
  </ul>
<% end %>
