<h1>Tunes</h1>

<%= if @tunes |> Enum.empty? do %>
 <p>There are currently no tunes, pal!</p>
<% else %>
  <ul>
    <%= for tune <- @tunes do %>
      <li><%= link tune.name, to: tune_path(@conn, :show, tune) %></li>
    <% end %>
  </ul>
<% end %>
